services:
  - type: web
    name: rueda-de-proyectos
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
      - key: DEBUG
        value: false
      - key: ADMIN_USER
        sync: false
      - key: ADMIN_PASS
        sync: false
    healthCheckPath: /
    healthCheckInterval: 5
    healthCheckTimeout: 5