services:
  - type: web
    name: rueda-de-proyectos
    env: docker
    plan: free
    envVars:
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
    dockerfilePath: ./Dockerfile
    buildCommand: docker build -t rueda-de-proyectos .